<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="./assets/currency-value-svgrepo-com.svg" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>finances</title>
  </head>
  <body>

    <header>
      <a href="./index.html">
        <img src="./assets/logo.svg" alt="logo dev finece"></a>

      <div id="login">
        <div id="img-login">
          <img src="./assets/login.svg" alt="">
        </div>
        <span>Welcome</span>
      </div>
    </header>

    <script src="./script.js"></script>
    <footer>
      <p>dev.finances</p>
    </footer>

  </body>
</html>